$button-bgcolor: #3b49df;
$button-color: #f6f7f9;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-heavy: 800;
$base-measure: 1rem;
$font-size: 1rem;
$font-link: #202428;
$zindex-fixed: 1030 !default;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: $font-size;
}
body {
  font-family: sans-serif;
  background-color: #eef0f1;
}

.container-left-nav {
  li,
  a {
    color: #202428;
  }
  li:hover {
    background-color: rgba(8, 9, 10, 0.05);
  }
  .bg-tansparent {
    background-color: transparent !important;
    border: none;
  }
  .card-ivan,
  .card-header-ivan,
  .list-group-item-ivan {
    background-color: transparent !important;
    border: none;
  }
  .icons-nav {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .card-header a {
    font-weight: $font-bold;
  }
  .card-text-left-nav {
    text-align: center;
    line-height: 1.2em;
    color: #3b49df;
    font-size: 1.5em;
    font-weight: bold;
  }

  .list-group {
    background-color: transparent !important;
    max-height: 150px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.post-button {
  background-color: #3b49df;
  box-shadow: 0 1px 3px;
  font-weight: 500;
}

.searchbar {
  width: 400px;
}

.social-foot {
  background-color: #d2d6db;
}

nav {
  a {
    color: #202428;
  }
}
.link-footer {
  color: black;
}
.footer-description {
  font-size: 0.875 * $base-measure;
  color: #4d5760;
}
.sloth {
  right: 8rem;
  top: 1px;
}

.header {
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: $zindex-fixed;
}

.nav-class {
  max-width: 1280px;
}

.hd-center-ml{
  margin-left: 55%;
}

.nav-link:hover{
  background-color: #3b49df31;
  color: blue;
}
.nav-link:active{
  border-bottom: 5px solid blue;
}
.post{
  position: absolute;
  margin-top: 1%;
  font-size: 20px;
  font-weight: bold;
}
.post-2{
  top: 30px;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.ml-nv{
  margin-left: 30%;
}
.card-box{
  border: none; 
  background: none;
}
.card-body-center-w{
  width: 45rem;
}
.card-bg-color{
  background-color: white;
}

.offset-lg-1-1{
  margin-left: 1%;
}
.container-main-usr{
  width: 100%;
  height: auto;
}
.container-usr{
  display: flex;
  flex-direction: row;
  width: auto;
  
}
.container-usr-name{
  width: auto;
  height: auto;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
.img-cl{
  width: 40px;
  height: 40px;
}
.c-font{
  color: #4d5760;
  font-size: smaller;
  cursor: pointer;
  margin: 0%;
}
.c-font:hover{
  color: black;
  font-weight: bold;
}
.c-fecha{
  display: flex;
  color: #4d5760;
  font-size: 12px;
  align-self:flex-start;
}
.text-cn{
  font-size: xx-large;
  font-weight: bold;
}
.text-cn:hover{
  color: #3b49df;
}
.hashtags{
  font-weight: lighter;
  color: #444c539a;
  margin-right: 1rem;
  font-size: small;
}
.hashtags:hover{
  cursor: pointer;
  color: #202428;
}
.a-foot{
  margin-right: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  color: #8b9196a4;
}
.a-foot:hover{
  background-color: #7d818518;
}
.a-foot-f{
  color: #8b9196a4;
}
.btn-sv{
  background-color: rgb(202,199,199);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  color: black;
}
.btn-sv:hover{
  background-color:rgba(145, 137, 137, 0.719);
  color: black;
}

.cheader{
  display: flex;
  justify-content: space-between;
  margin-left: 70%; 
  margin-top: 5%;
}
.c-select{
  padding: 10%; 
  border-radius: 8%;
}
.c-select:active{
  border-color: blue;
  
}

@media only screen and (max-width: 768px){
  .a-foot-f{
    font-size: x-small;
  }
}

@media only screen and (max-width: 375px){
  span{
    display: none;
  }
  .a-foot{
    margin-right: 0%;
    margin-left: 0%;
    font-size: small;
  }
  
  .btn-sv{
    background-color: rgb(202,199,199);
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: black;
    font-size: small;
  }
  .smll{
    font-size: x-small;
  }
  .text-cn{
    word-break:break-all;
    font-size:large;
  }
}
.separation-top{
  margin-top: 0.7rem;
}